/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom:20px;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding: 13px 13px 13px 0;
}

.header li:first-child {
    margin-right: 15px;
}

.header ul li {
    float:left;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 300px) {
    .header {
        color: red;
    }
}
blockquote {
    font-size: 15px;
}
.h1, h1 {
    font-size: 30px;
    color:#000;
}
code {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-size: 20px;
    line-height: 1.42857;
    margin: 0 0 10px;
    padding: 9.5px 80px;
    text-align: center;
    width: 209px;
}
.protocolo {
    padding: 35px 35px 65px;
    text-align: center;
}
